main {
  /* margin-left: 100px; */
}
#main {
  position: relative;
}

#side__nav {
  opacity: 0;
  position: fixed;
  bottom: 250px;
  left: -160px;
  transform: rotate(-90deg);
  opacity: 0;
  transition: all 0.3s opacity 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  z-index: 10;
}
#side__nav li:hover {
  color: #000;
}
#side__nav.active {
  opacity: 1;
  transition: all 0.3s opacity 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
}

#side__nav ul {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
}
#side__nav ul li {
  font-weight: var(--font--weight--semi);
  color: #858585;
  line-height: 20px;
  margin-left: 40px;
}
.main__content {
  position: relative;
}
.main__content::after {
  content: "";
  clear: both;
  display: block;
}
.main__content .text__wrapper {
  width: 50%;
  float: left;
  display: block;
  word-break: keep-all;
  padding-right: 30px;
}
.main__content .text__wrapper .wrap {
  width: 600px;
  float: right;
}
.main__content .main__first—text {
  padding: 150px 0 100px;
}
.main__content .main__first—text p {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.2;
}
.main__content .main__section > strong > span {
  overflow: hidden;
  font-family: "Poppins", "Noto Sans KR", sans-serif;
}
.main__content .main__section > strong span {
  display: block;
}
.main__content .main__section > strong {
  font-size: 64px;
  font-weight: var(--font--weight--large);
  line-height: 1.4;
}
.main__section .description {
  margin-top: 50px;
}
.main__section .description p {
  margin-bottom: 40px;
  font-size: 22px;
  line-height: 1.7;
}
.main__content .detail__btn--underline {
  display: inline-block;
  margin-top: 80px;
  font-size: 22px;
  font-family: var(--font-nato);
  font-weight: var(--font--weight--large);
  position: relative;
}
.main__content .detail__btn--underline::after {
  content: "";
  display: block;
  background-color: var(--color--black);
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: -3px;
}
.main__content .main__section.second {
  margin-top: 220px;
}
.main__content .main__section.third {
  margin-top: 220px;
}
.main__content .main__section.four {
  margin-top: 220px;
}
#main .img__wrapper {
  position: sticky;
  float: right;
  top: 0;
  width: 50%;
  height: 100vh;
}
#main .img__wrapper .img__wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
}
#main .img__wrapper .img__wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#main .img__wrapper .img__wrap.img01 {
  visibility: visible;
  opacity: 1;
}
/* portfolio */
#portfolio {
  padding-top: 150px;
}

.portfolio__content__list {
  padding-top: 65px;
  width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.portfolio__content__list li {
  width: 45%;
  margin-bottom: 80px;
}
.portfolio__content__list li:nth-child(2n) {
  transform: translateY(150px);
}

.portfolio__content__list li p:first-of-type {
  margin-top: 30px;
  font-size: 20px;
  font-family: var(--font-nato);
}
.portfolio__content__list li p:last-child {
  margin-top: 20px;
  font-size: 32px;
  font-weight: var(--font--weight--semi);
  font-family: var(--font-nato);
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 38px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  max-height: 76px;
}

.portfolio__content__list li .brand__bg {
  width: 100%;
  height: 730px;
  overflow: hidden;
  position: relative;
}
.portfolio__content__list li .brand__bg::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: block;
  background-color: #000;
  opacity: 0.25;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.portfolio__content__list li .brand__bg h3 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  color: var(--color--white);
  white-space: nowrap;
  font-family: var(--font-noto);
  font-weight: var(--font--weight--large);
  z-index: 2;
}
.portfolio__content__list li em {
  display: block;
  margin-top: 30px;
  font-size: 20px;
}
.portfolio__content__list li .brand__bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.brand__bg .plus__btn {
  position: absolute;
  right: 30px;
  bottom: 20px;
  width: 33px;
  height: 33px;
}
.plus__btn::before {
  content: "";
  display: block;
  background-color: var(--color--white);
  width: 100%;
  height: 3px;
  position: absolute;
  right: 0px;
  top: 0px;
}
.plus__btn::after {
  content: "";
  display: block;
  background-color: var(--color--white);
  height: 100%;
  width: 3px;
  position: absolute;
  right: 15px;
  top: -14px;
}

.portfolio__content__list li .brand__bg__inner {
  height: 790px;
  background-size: cover;
  background-position: 50%;
  position: relative;
}
.portfolio__content__list li .brand__bg__inner::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--color--black);
  opacity: 0.25;
}
.brand__bg__inner span {
  color: var(--color--white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  font-weight: var(--font--weight--large);
  font-family: var(--font--cabin);
  text-align: center;
  white-space: nowrap;
}
.portfolio__content__list li:nth-child(1) .brand__bg__inner {
  background-image: url("./img/list9.jpg");
  /* transform: translate(0px, -59.3161px); */
}
.portfolio__content__list li:nth-child(2) .brand__bg__inner {
  background-image: url("./img/list10.jpg");
}
.portfolio__content__list li:nth-child(3) .brand__bg__inner {
  background-image: url("./img/list1.jpg");
}
.portfolio__content__list li:nth-child(4) .brand__bg__inner {
  background-image: url("./img/list2.jpg");
}

/* fnc model */
#model {
  background-color: #f4d350;
  padding: 130px 0;
  margin-top: 220px;
}
#model .inner {
  width: 1200px;
  margin: auto;
  position: relative;
}
#model .inner .img__wrap {
  position: absolute;
  top: -273px;
  right: 0;
}
#model .brand__md__link {
  display: block;
  position: relative;
}
.main__about--img {
  position: relative;
}
.main__about--img img:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
}
.main__about--text {
  line-height: 1.2;
  letter-spacing: 1px;
}
#model .brand__md__link .detail__btn--underline {
  position: relative;
  display: inline-block;
  margin-top: 25px;
}
#model .brand__md__link .detail__btn--underline div {
  font-size: 22px;
  font-family: var(--font-nato);
  font-weight: var(--font--weight--large);
  padding-bottom: 7px;
  position: relative;
}
#model .brand__md__link .detail__btn--underline div::after {
  content: "";
  display: block;
  background-color: var(--color--black);
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
}
#model .brand__md__link .caption {
  position: absolute;
  right: 20%;
  bottom: -20px;
  font-size: 14px;
}
#model .overflow--line p {
  font-size: 56px;
  font-weight: var(--font--weight--large);
  font-family: var(--font-nato);
}
#model .overflow--line p span {
  font-weight: var(--font--weight--semi);
}
/* news */
#news {
  width: 1200px;
  margin: 220px auto 0;
}
.news__list {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
}
.news__list li {
  width: calc((100% - 100px) / 3);
  color: var(--color--black);
}
.news__list li .img__wrap {
  width: 340px;
  height: 360px;
}
.news__list li:nth-child(2) .img__wrap {
  width: 340px;
  height: 450px;
}
.news__list .img__wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.news__list li span {
  display: block;
  font-size: 16px;
  margin-top: 25px;
  font-family: var(--font--cabin);
}
.news__list li strong {
  display: block;
  margin-top: 35px;
  font-size: 32px;
  font-weight: var(--font--weight--semi);
  font-family: var(--font-nato);
  line-height: 1.15;
  letter-spacing: -0.05rem;
}
.news__list li p {
  margin-top: 25px;
  font-weight: var(--font--weight--regular);
  line-height: 1.6;
  word-break: keep-all;
}
